@* @model List<Taller_Industrial_Brenes_Web.Models> *@

@{
    ViewData["Title"] = "Inicio";
}

<div class="container-masthead" style="padding-top: 10.5rem; padding-bottom: 6rem; text-align: center; color: #fff; background-repeat: no-repeat; background-attachment: scroll; background-position: center center; background-size: cover;">
    <div style="--bs-gutter-x: 1.5rem; --bs-gutter-y: 0; width: 100%; padding-right: calc(var(--bs-gutter-x) * 0.5); padding-left: calc(var(--bs-gutter-x) * 0.5); margin-right: auto; margin-left: auto;">
        <div style="font-size: 1.5rem; font-style: italic; line-height: 1.5rem; margin-bottom: 25px; font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';">
            Bienvenido a Taller Industrial Brenes!
        </div>
        <div style="font-size: 3.25rem; font-weight: 700; line-height: 3.25rem; margin-bottom: 2rem; font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; text-transform: uppercase;">
            Materializamos sus Proyectos.
        </div>
        <!--<a href="#!" style="display: inline-block; padding: 1rem 2rem; font-size: 1.25rem; font-weight: bold; text-transform: uppercase; background-color: #0d6efd; color: white; border-radius: 0.5rem; text-decoration: none;">
            Tell Me More
        </a>-->

    </div>
</div>

<section class="page-section bg-white" id="services" style="font-family: 'Poppins', sans-serif;">
    <div class="container">
        <div class="text-center" style="margin-top: 4rem;">
            <h2 style="font-size: 2.5rem; margin-top: 0; margin-bottom: 1rem;">Services</h2>
            <h3 style="font-size: 1rem; font-weight: 400; font-style: italic; font-family: 'Roboto Slab', serif; margin-bottom: 4rem; color: #6c757d;">
                Lorem ipsum dolor sit amet consectetur.
            </h3>
        </div>
        <div class="row text-center" style="margin-bottom: 4rem;">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">E-Commerce</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Responsive Design</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Web Security</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
        </div>
    </div>
</section>
