@model Taller_Industrial_Brenes_Web.Models.UsuarioModel
@{
    ViewData["Title"] = "Registro";

    Layout = "_LayoutExterno";

}

<body class="bg-gradient-primary">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-center vh-100">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-lg-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image" style="background-image: url('/img/backgrounds/Imagen2.png');"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>

                            @if (ViewBag.Error != null)
                            {
                                <div class="alert alert-danger text-center">@ViewBag.Error</div>
                            }

                            <form asp-action="Registro" asp-controller="Cuenta" method="post">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3">
                                        <input asp-for="Nombre" class="form-control form-control-user" placeholder="First Name" />
                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="ApellidoPaterno" class="form-control form-control-user" placeholder="Last Name" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3">
                                        <input asp-for="ApellidoMaterno" class="form-control form-control-user" placeholder="Second Last Name" />
                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="Identificacion" class="form-control form-control-user" placeholder="ID Number" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Correo" class="form-control form-control-user" placeholder="Email Address" />
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3">
                                        <input asp-for="Contrasenna" type="password" class="form-control form-control-user" placeholder="Password" />
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" placeholder="Repeat Password" />
                                    </div>
                                </div>
                                <input type="hidden" asp-for="RolID" value="1" />

                                <button type="submit" class="btn btn-primary btn-user btn-block">Register Account</button>
                            </form>

                            <hr>
                            <div class="text-center">
                                <a class="small" asp-controller="Cuenta" asp-action="Login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
</body>

</html>

